<!doctype html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>welcome to static web</h1> -->

    {{>navbar}}



    <!-----------main Header---------->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- image div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                             <img src="images/about.png" alt="" class="img-fluid" title="AG Brothers">
                        </figure>
                     </div>
                    <!-- text div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to AG Brothers</p>
                        <h1>I Am A <span>Mern Stack Developer</span>.youtuber and a freelancer </h1>
                        <a href="/"><button >About ME</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    {{>footer}}

  </body>
</html>